@import "layout/loader";
@import "base/reset";
@import "utils/mixins";
@import "utils/variables";
@import "pages/pages-menus";





body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 15px;
    transition: 400ms;
    position: relative;
    @media only screen and (min-width: 650px) {
        font-size: 16px;
    }
    @media only screen and (min-width: 1000px) {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: black;
}

img {
    object-fit: cover;
    width: 100%;
}

h1 {
    font-size: map-get($font-size, h1);
    font-weight: bolder;
}

h2 {
    font-size: map-get($font-size, h2);
    font-weight: bold;
}

h3 {
    font-size: map-get($font-size, h3);
    font-weight: bold;
}

#header {
    padding: 20px 0 10px 0;
}

#logo_intro {
    width: 40%;
    @media only screen and (min-width: 650px) {
        width: 30%;
    }
    @media only screen and (min-width: 1000px) {
        width: 300px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    &__form {
        display: block;
        text-align: center;
        align-items: center;
        padding: 15px; 
        background-color: $dark-gray;
        margin: 0 auto;
        width: 100%;
        box-shadow: inset 0px 4px 4px -2px #9b9b9b;
        i {
            font-size: 17px;
        }
        input {
            border: none;
            background-color: $dark-gray;
            font-size: 1rem;
            font-weight: bold;
            width: 180px;
            text-align: center;
            padding-left: 5px;
            &::placeholder {
                color:black;
            }
            &:active {
                background-color: $dark-gray;
            }
        }
    }
    &__description {
        background-color: $light-gray;
        padding: 30px 30px 10px 30px;
        @media only screen and (min-width: 650px) {
            height: 200px;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content:space-between;
        }
        @media only screen and (min-width: 1000px) {
            padding: 30px;
            justify-content: space-around;
        }
        h1 {
            padding: 0 10px;
            @media only screen and (min-width: 650px) {
                padding: 0px;
            }
        }
        p {
            padding-top: 10px;
            font-size: 1.1rem;
        }
        &__button {
            display: block;
            border-radius: 20px;
            color: white;
            background: linear-gradient(135deg, $color-secondary, $color-primary);
            width: 190px;
            margin: 22px auto;
            padding: 10px;
            font-weight: bold;
            box-shadow: 1px 3px 10px 1px rgb(182, 181, 181);
            transition: box-shadow 400ms;
            @media only screen and (min-width: 650px) {
                width: 240px;
                padding: 19px;
                margin: 0;
            }
            &:hover {
                box-shadow: 2px 4px 10px 5px rgb(192, 181, 190);
                background: linear-gradient(135deg, lighten($color-secondary,5), lighten($color-primary,5));
            }
        }
        &__text{
            @media only screen and (min-width: 650px) {
                text-align: left;
                padding-right: 30px;
            }
        }
    }
}

.nav {
    padding: 30px;
    @media only screen and (min-width: 650px){
        padding: 30px 0px;
    }
    &__heading {
        text-align: left;
        margin-bottom: 25px;
        @media only screen and (min-width: 650px) {
            margin-bottom: 10px;
            margin-left: 30px;
        }
    }
    &__ul {
        @media only screen and (min-width: 650px) {
            display: flex;
            margin: 0;
        }
    }
    &__link {
        position: relative;
        text-align: left;
        margin: 15px auto;
        background-color: $light-gray;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 3px 5px 2px rgb(219, 219, 219);
        font-weight: bold;
        font-size: 1rem;
        @media only screen and (max-width: 330px) {
            font-size: 0.95rem;
        }
        @media only screen and (min-width: 650px) {
            line-height: 50px;
            margin: 20px 10px;
            padding: 20px 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 8px;
            justify-content: space-between;
            font-size: 1.02rem;
            transition: transform 400ms;
        }
        @media only screen and (min-width: 1000px) {
            font-size: 1.2rem;
            margin: 20px;
        }
        &:hover {
            background-color: $light-purple;
            box-shadow: 1px 3px 10px 1px rgb(211, 205, 209);
            transform: scale(1.03);
            cursor: pointer;
        }
        &__num {
            position: absolute;
            left: -3%;
            top: 18px;
            text-align: center;
            background-color: #9356dc;
            color: #fff;
            border-radius: 100%;
            padding: 3px 7px;
            font-size: 14px;
            @media only screen and (min-width: 650px) {
                left: -0.5%;
                top: -1px;
                padding: 0 0 25px 0;
                height: 42px;
                width: 40px;
                font-size: 15px;
                text-align: center;
            }
        }
       i {
            margin: 0 20px;
            color: gray;
            @media only screen and (min-width: 650px) {
                margin: 10px;
                font-size: 1.8rem;
            }
            &:hover {
                color:$color-primary;
            }
        }
    }
}

.fa-mobile-alt {
    margin-right: 60px;
}

main {
    padding: 30px 30px 50px 30px;
    background-color: $light-gray;  
    h2 {
        text-align: left;
        margin-bottom: 25px;
    } 
}

.ctn {
    @media only screen and (max-width: 649px) {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }
    @media only screen and (min-width: 650px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }
    @media only screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }
}

.fig {
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 5px 2px rgb(214, 214, 214);
    border-radius: 20px;
    height: 250px;
    transition: transform 400ms;
    &:hover {
        box-shadow: 1px 3px 10px 1px rgb(65, 35, 56);
        transform: scale(1.03);
    }
    &__img {
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: black;
    }
    &__new {
        position:absolute;
        right: 15px;
        top: 15px;
        background-color: $color-tertiary;
        color: #24856c;
        font-weight: bold;
        padding: 7px 10px;
    }
    &__caption {
        display: flex;
        justify-content: space-between;
        padding:10px 15px;
        &__text {
            text-align: left;
            line-height: 23px;
        }
        i {
            font-size: 24px;
            margin-top: 5px;
        }
        &__icon{
            transition-duration: .25s;
            cursor: pointer;
            &__i{
                z-index: 1;
                position: relative;
                &:hover{
                    & .fig__caption__icon__i__plein{
                        z-index: 1;
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
                &__plein{  
                    position: absolute;
                    background: -webkit-linear-gradient(#9356dc, #ff79da); 
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;
                    right: 0;
                    bottom: 0.4px;
                    left: 0;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 400ms;
                    transition: transform 400ms;
                }
            }
        }
    }
}

footer {
    background-color: rgb(66, 65, 65);
    color: white;
    padding: 30px;
    text-align: left;
    line-height: 25px;
    @media only screen and (min-width: 650px) {
        text-align: center;
        height: 200px;
    }
    ul {
        @media only screen and (min-width: 650px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            text-align: center;
        }
        @media only screen and (min-width: 1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            grid-auto-rows: minmax(100px, auto);
            text-align: center;
            height: 50px;
        }
    }
    img {
        width: 120px;
        margin-bottom: 30px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        @media only screen and (min-width: 650px) {
            width: 150px;
            margin-bottom: 30px;
        }
    }
    &__bold {
        margin-bottom: 10px;
        @media only screen and (min-width: 1000px) {
            margin-bottom: 0px;
        }
    }
    i {
        font-size: 12px;
        @media only screen and (min-width: 650px) {
            font-size: 16px;
        }
    }
    a {
        color: white;
    }
}

.bold {
    font-weight: bold;
}

.bold-margin {
    margin-left: 5px;
}
