
$font-size: (h1:1.6rem, h2:1.4rem, h3: 1.15rem);

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-gray: rgb(241, 241, 241);
$dark-gray: rgb(224, 224, 224);
$light-purple: #e6ddf1;

